<ion-toolbar>
  <ion-title>Selecciona una opción</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="goTo('school')">
            <ion-img src='../../assets/icon/favicon.png'></ion-img>
            <ion-card-title>Colegio</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="goTo('editor')">
            <ion-img src='../assets/icon/favicon.png'></ion-img>
            <ion-card-title>Editor</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="goTo('teacher')">
            <ion-img src='../assets/icon/favicon.png'></ion-img>
            <ion-card-title>Profesor</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
